<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{/menu.html :: head}"></th:block>
<style type="text/css">
.members, .likes{
	width: 100%;
	height: 30px;
	line-height: 20px;
	padding: 5px;
}
.likes div{
	width: 50%;
	float: left;
	background-color: silver;
	border-bottom: 1px solid black;
}
.shadow.p-3.mb-5.bg-white.rounded {
	min-height: 500px;
	height: auto;
}
.code{
	width: 100%;
	height: auto;
	display: block;
	padding: 5px;
	
}
pre{
	width: 100%;
	height: auto;
}
</style>
</head>
<body class="d-flex flex-column min-vh-100">
	<!-- Navigation-->
	<th:block th:insert="~{/menu.html :: menu}"></th:block>
	<!-- Mashead header-->
	<section class="container px-5">

		<h1>index</h1>
		<div class="shadow p-3 mb-5 bg-white rounded">
			<div class="members">
				<div>[[${detail.member.mname}]]님이 [[${detail.bdate}]]에 올리셨습니다.</div>
			</div>
			<div class="likes">
				<div>[[${detail.bread}]]님이 읽었습니다.</div>
				<div>[[${detail.blike}]]님이 좋아합니다.</div>
			</div>
			<div class="code">
				<pre>[[${detail.code}]]</pre>
			</div>
		</div>
		<button type="button" class="btn btn-info" onclick="location.href='./board'">게시판으로</button>
	</section>

	<footer class="footer py-2 mt-auto">
		<th:block th:insert="~{/menu.html :: footer}"></th:block>
	</footer>
</body>
</html>
