<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{/menu.html :: head}"></th:block>
    <body class="d-flex flex-column min-vh-100">
        <!-- Navigation-->
        <th:block th:insert="~{/menu.html :: menu}"></th:block>
        <!-- Mashead header-->
        <section class="container px-5">
			<div class="shadow p-3 mb-5 bg-white rounded">setup</div>
			
			
			
			
        </section>
        
        <footer class="footer py-2 mt-auto">
        	<th:block th:insert="~{/menu.html :: footer}"></th:block>
        </footer>
    </body>
</html>
