<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{/menu.html :: head}"></th:block>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Navigation-->
        <th:block th:insert="~{/menu.html :: menu}"></th:block>
        <!-- Mashead header-->
        <section class="container px-5">
			
            <h1>index</h1>
            h:5598
        </section>
        
        <footer class="footer py-2 mt-auto">
        	<th:block th:insert="~{/menu.html :: footer}"></th:block>
        </footer>
    </body>
</html>
